doctype html
html(ng-app="dhtcrawler")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    meta(charset='utf-8')
  body
    block content

    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular-route.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='/javascripts/vendors/ui-bootstrap-tpls-0.12.0.min.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/index/index.js')

